<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>getEmployeeList</servlet-name>
        <servlet-class>com.controller.getEmployeeList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addEmployee</servlet-name>
        <servlet-class>com.controller.addEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addTask</servlet-name>
        <servlet-class>com.controller.addTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addRole</servlet-name>
        <servlet-class>com.controller.addRole</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editPageRout</servlet-name>
        <servlet-class>com.controller.editPageRout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateRole</servlet-name>
        <servlet-class>com.controller.updateRole</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateTask</servlet-name>
        <servlet-class>com.controller.updateTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateEmployee</servlet-name>
        <servlet-class>com.controller.updateEmployee</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getEmployeeList</servlet-name>
        <url-pattern>/getEmployeeList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addEmployee</servlet-name>
        <url-pattern>/addEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addTask</servlet-name>
        <url-pattern>/addTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addRole</servlet-name>
        <url-pattern>/addRole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editPageRout</servlet-name>
        <url-pattern>/editPageRout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateRole</servlet-name>
        <url-pattern>/updateRole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateTask</servlet-name>
        <url-pattern>/updateTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateEmployee</servlet-name>
        <url-pattern>/updateEmployee</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
